In [12]:
import pandas as pd
df = pd.read_excel('C:\\Users\\Lenovo\\Desktop\\DS Internship\\Data\\Data Science\\SalesData.xlsx')

In [13]:
minsales = df.groupby('Item')['Sale_amt'].min().reset_index()
print(minsales)

           Item  Sale_amt
0    Cell Phone    3375.0
1          Desk     250.0
2  Home Theater    2000.0
3    Television    8386.0
4   Video Games     936.0

In [14]:
df['Year'] = df['OrderDate'].dt.year
totalsales = df.groupby(['Year', 'Region'])['Sale_amt'].sum().reset_index()
print(totalsales)

   Year   Region  Sale_amt
0  2018  Central  479825.0
1  2018     East  293780.0
2  2018     West  105424.0
3  2019  Central  349944.5
4  2019     East   27227.0
5  2019     West   49475.0

In [15]:
date = pd.to_datetime('2023-09-22')
df['days_diff'] = (date - df['OrderDate']).dt.days
print(df[['OrderDate', 'days_diff']])

    OrderDate  days_diff
0  2018-01-06       2085
1  2018-01-23       2068
2  2018-02-09       2051
3  2018-02-26       2034
4  2018-03-15       2017
5  2018-04-01       2000
6  2018-04-18       1983
7  2018-05-05       1966
8  2018-05-22       1949
9  2018-06-08       1932
10 2018-06-25       1915
11 2018-07-12       1898
12 2018-07-29       1881
13 2018-08-15       1864
14 2018-09-01       1847
15 2018-09-18       1830
16 2018-10-05       1813
17 2018-10-22       1796
18 2018-11-08       1779
19 2018-11-25       1762
20 2018-12-12       1745
21 2018-12-29       1728
22 2019-01-15       1711
23 2019-02-01       1694
24 2019-02-18       1677
25 2019-03-07       1660
26 2019-03-24       1643
27 2019-04-10       1626
28 2019-04-27       1609
29 2019-05-14       1592
30 2019-05-31       1575
31 2019-06-17       1558
32 2019-07-04       1541
33 2019-07-21       1524
34 2019-08-07       1507
35 2019-08-24       1490
36 2019-09-10       1473
37 2019-09-27       1456
38 2019-10-14       1439
39 2019-10-31       1422
40 2019-11-17       1405
41 2019-12-04       1388
42 2019-12-21       1371

In [16]:
mansales = df.groupby('Manager')['SalesMan'].unique().reset_index()
mansales.columns = ['manager', 'list_of_salesmen']
print(mansales)

   manager            list_of_salesmen
0  Douglas      [Michael, Karen, John]
1  Hermann       [Shelli, Luis, Sigal]
2   Martha  [Alexander, Steven, Diana]
3  Timothy            [David, Stephen]

In [17]:
region = df.groupby('Region').agg(salesmen_count=('SalesMan', 'nunique'), total_sales=('Sale_amt', 'sum')).reset_index()
print(region)

    Region  salesmen_count  total_sales
0  Central               6     829769.5
1     East               3     321007.0
2     West               2     154899.0

In [18]:
manager = df.groupby('Manager')['Sale_amt'].sum().reset_index()
manager['percent_sales'] = (manager['Sale_amt'] / manager['Sale_amt'].sum()) * 100
print(manager[['Manager', 'percent_sales']])

   Manager  percent_sales
0  Douglas      18.308990
1  Hermann      27.963188
2   Martha      36.187629
3  Timothy      17.540193